name: Playwright Tests

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
  workflow_dispatch:

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Cache npm dependencies
        uses: actions/cache@v3
        with:
          path: node_modules
          key: ${{ runner.os }}-node-modules-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-modules-

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Create report folder
        run: mkdir -p playwright-report

      - name: Run Playwright tests with multiple reporters
        run: npx playwright test --reporter=line,junit --output=playwright-report

      - name: Upload Jest JUnit test report using Dorny
        uses: dorny/test-reporter@v2
        with:
          name: Playwright Test Results
          path: playwright-report/results.xml
          reporter: jest-junit
